@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default
}
/* color */
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: @apply #3182ce;
  --color-secondary: teal;
}
